    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About GRE</h2>
                <p><a href="https://github.com/gre4index/GRE" target="_blank">GRE</a> is a benchmark suite for learned indexes and traditional indexes to measure throughput and latency with custom workload (read / write ratio) and any dataset. GRE quantifies datasets using local and global hardness, and includes a synthetic data generator to generate data with various hardness.</p>
                <p>The benchmark is brought to you <br/> by <a href="https://www.cse.cuhk.edu.hk/people/faculty/eric-chi-lik-lo/" target="_blank">Eric Lo</a> and <a href="https://pohchaichon.github.io/"  target="_blank">Chaichon Wongkham</a> from <a href="https://www.cuhk.edu.hk/english/index.html" target="_blank"  target="_blank">CUHK</a>.</p>
                <p>This method is aimed at providing a comprehensive and fair benchmarking method for index developers to detect their products' performance and reliability in different data environment</p>
            </div>
        </div>
    </section>
