<!-- Download Section -->
<section id="data" class="content-section text-center" style="text-align: left; line-height: normal;">
    <div class="container">
        <div class="row">
            <h2 style="text-align: center;">data Present</h2>
            <div class="col-4"></div>
            <div class="col-8">
                <h3>Self Define Options</h3>
                <p>Metric to display by: 
                    <select style="color:black" id="generateStandard">
                        <option value="Single_thread" selected>Single-thread</option>
                        <option value="Multi_threads">Multi-thread</option>
                    </select>
                </p>
                <p>
                    Displaying results on datasets:
                    <select style="color:black" id="dataset"> 
                    </select>
                </p>
                
                <p>Select a subset of indexes to display: <button onclick="showList()" style="color:black" id="showOptions">Show Options</button></p>
                <p>Quick selections: 
                    <button onclick="selectAll()" style="color:black">All Indexes</button>
                    <button onclick="selectTR()" style="color:black">Traditional Indexes</button>
                    <button onclick="selectLE()" style="color:black">Learned Indexes</button>
                </p>
                <form id="indexList" style="line-height: 40px; background-color:blanchedalmond"></form>
                <button onclick="generate()" style="color:black;">Generate Leaderboard</button>
                <h2></h2>
                <h3>Leaderboard</h3>
                <p>
                    Results below are by model. Click on a header to sort by that measure. Click on an index name to open the relevant GitHub repo. If you want to show different indexes, please choose some from above and click "Generate Leaderboard" again;
                </p>
                <p>
                    This leaderboard displays the average Throughput for a randomly selected key in different read/write ratio.
                    <br>Learned indexes are marked in <b>bold</b>.
                </p>
                <div class="table-wrapper">
                    <table class="sortable tables" id = "latencyTable">
                        <thead>
                            <th></th>
                            <th style="text-align: center;" class><button onclick=""><span style="font-size: 15px;">Index</span><br><span style="font-size: 10px;">Throughput</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(2)"><span style="font-size: 15px;">Read</span><br><span style="font-size: 10px;">Read:1 Write:0</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(3)"><span style="font-size: 15px;">RW</span><br><span style="font-size: 10px;">Read:0.8 Write:0.2</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(4)"><span style="font-size: 15px;">M</span><br><span style="font-size: 10px;">Read:0.5 Write:0.5</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(5)"><span style="font-size: 15px;">WR</span><br><span style="font-size: 10px;">Read:0.2 Write:0.8</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(6)"><span style="font-size: 15px;">Write</span><br><span style="font-size: 10px;">Read:0 Write:1</span></button></th>
                        </thead>
                    </table>
                </div>   
            </div>
            <div class="col-8">
                <h1></h1>
                <h3>Plots</h3>
                <p>Here we provide a plot of index size against lookup latency on GRE data. Indexes can be added and removed from the plot using the corresponding buttons on the leaderboard. Noted that in maximun there can be up to 7 plots presented</p>
                <button onclick="draw()">Rerender Plots</button>
                <div id="plotParent"><canvas id="plots" class="chart" style="width:80%"></canvas></div>
                <h4>Other Plots You may interest:</h4>
                <p>1. Multi-threading scalability:</p>
                <p>Dataset: <select id="dataset1" onchange="drawCores()"> 
                    <option value="covid" selected>covid</option>
                    <option value="biology">biology</option>
                    <option value="libraries">libraries</option>
                    <option value="osm_cellids">osm_cellids</option>
                </select>, Read Ratio: <select id="ReadRatio" onchange="drawCores()"><option value="Read Only" selected>Read Only</option>
                <option value="Balance">Balance</option>
                <option value="Write Only">Write Only</option></select></p>
                <div id="cores"><canvas id="coresPlots" class="chart" style="width:80%"></canvas></div>
                <p>2. Memory Space Efficiency:</p>
                <p>Dataset: <select id="dataset2" onchange="drawMem()"> 
                    <option value="covid" selected>covid</option>
                    <option value="biology">biology</option>
                    <option value="libraries">libraries</option>
                    <option value="planet_features">planet_features</option>
                    <option value="wise_all_sky_data">wise_all_sky_data</option>
                    <option value="books">books</option>
                    <option value="fb">fb</option>
                    <option value="stovf_vote_id">stovf_vote_id</option>
                    <option value="history">history</option>
                    <option value="osm_cellids">osm_cellids</option>
                </select></p>
                <div id="memory"><canvas id="memoryPlots" class="chart" style="width:60%"></canvas></div>
                <p>3. Tail Latency:</p>
                <p>The <select id="insert/lookup" onchange="drawLat()">
                    <option value=lookup selected>lookup</option>
                    <option value=insert>insert</option>
                </select> operation in  Dataset 
                    <select id="dataset3" onchange="drawLat()"> 
                        <option value="covid" selected>covid</option>
                        <option value="biology">biology</option>
                        <option value="libraries">libraries</option>
                        <option value="osm_cellids">osm_cellids</option>
                    </select>
                    of <select id="latencyRate" onchange="drawLat()">
                        <option value='50%'>50%</option>
                        <option value='90%'>90%</option>
                        <option value='99%'>99%</option>
                        <option value='99.9%' selected>99.9%</option>
                        <option value='99.99%'>99.99%</option> 
                    </select> latency added in <select id="corrr" onchange="drawLat()"><option value='single core' selected>single core</option><option value='24 cores'>24 cores</option></select>
                </p>
                <div id="lat"><canvas id="latPlots" class="chart" style="width:60%"></canvas></div>
            </div>
        </div>
    </div>
</section>