<!-- Download Section -->
<section id="data" class="content-section text-center" style="text-align: left; line-height: normal;">
    <div class="container">
        <div class="row">
            <h2 style="text-align: center;">data details</h2>
            <div class="col-4"></div>
            <div class="col-8">
                <h3>Leaderboard</h3>
                <p>Metric to display by: 
                    <select readonly style="color:black">
                        <option value="Latency" selected>Latency(ns)</option>
                        <option value="BuildUpTime">BuildUpTime(ns)</option>
                        <option value="Size">Size</option>
                    </select>
                </p>
                <p>Select a subset of indexes to display: <button onclick="showList()" style="color:black" id="showOptions">Show Options</button></p>
                <p>Quick selections: 
                    <button onclick="selectAll()" style="color:black">All Indexes</button>
                    <button onclick="selectRDON()" style="color:black">Read-only Indexes</button>
                    <button onclick="selectUPAB()" style="color:black">Updatable Indexes</button>
                </p>
                <p>
                    Displaying results on datasets:
                    <select readonly style="color:black">
                        <optgroup label="---200m Datasets---"></optgroup>
                        <optgroup label="---64bit-Datasets--"></optgroup>
                        <optgroup label="Real-World-Datasets"></optgroup>
                        <option>kk</option>
                        <optgroup label="Synthetic Datasets"></optgroup>
                    </select>
                </p>
                <form id="indexList" style="line-height: 40px; background-color: white;"></form>
                <p>
                    Results below are by model. Click on a header to sort by that measure. Click on an index name to open the relevant GitHub repo.
                </p>
                <p>
                    This leaderboard displays the average lookup time for a randomly selected key in a sorted dataset of size 200M.
                    <br>Learned indexes are marked in <b>bold</b>.
                    <br>You may Click the col header to reorder according to certain col.
                </p>
                <div class="table-wrapper">
                    <table class="sortable tables" id = "latencyTable">
                        <thead>
                            <th></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">Index</span><span style="font-size: 10px;">size</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">XS</span><span style="font-size: 10px;">Up to 0.01% of data</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">S</span><span style="font-size: 10px;">Up to 0.1% of data</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">M</span><span style="font-size: 10px;">Up to 1% of data</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">L</span><span style="font-size: 10px;">Up to 10% of data</span></button></th>
                            <th style="text-align: center;" class><button onclick="reorder(0)"><span style="font-size: 15px;">XL</span><span style="font-size: 10px;">No limit</span></button></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>
</section>