    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download & Test</h2>
                    <p>You can download the testing program and indexes freely</p>
                    <a href="https://hub.docker.com/repository/docker/haitongxu635/gre/general" target="_blank" class="btn-default btn-lg">Get Docker Here</a>
                </div>
            </div>
        </div>
        <div class="down-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>After testing in the docker or your own environment and get the vaild result, you can choose to email the result to us or submit the index to our server</p>    
                </div>
            </div>
        </div>
        <div class="down-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Upload through email</h2>
                    <p>Send us an email by <a href="mailto:greindexbenchmarking@gmail.com?subject=New Test Result from {your name} &body=Docker URL: {yourtestdocker}%0D%0ADo not forget to attach the test result(CSV) and your index!">this</a> to give back your own test result and your testing docker</p>
                    <p>Email Example:</p><img src="../img/Email-example.png">
                    <p>Please Don't Change Anything beside Asked, otherwise your result will be rejected</p>         
                </div>
            </div>
        </div>
        <div class="down-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Submit Index for Testing</h2>
                    <p>Submit the index.h and competitor.h by <a href="http://localhost:3000/uploads" target="_blank">this</a> to give back your own test result and your testing docker</p>
                    <h2>Uploaded Test Result</h2>
                    <table id="upload" style="border: 1px solid;">
                        <thead>
                            <tr>
                                <td style="width:20%">Name</td>
                                <td style="width:20%">Docker URL</td>
                                <td style="width:20%">Test Result</td>
                                <td style="width:20%">Index</td>
                                <td style="width:20%">Time</td>
                            </tr>
                        </thead>
                    </table>       
                </div>
            </div>
        </div>
    </section>