<section id="heatmap" class="content-section text-center" style="text-align: left; line-height: normal;">
    <div class="container">
        <h2 style="text-align: center;">Heat Map</h2>
        <div class="row">
            <div style="display:inline ; width:25%" >
                <h4>Choose Dataset to be display in HeatMap</h4>
                <table style="width: 80%" id="datasetlt"></table>
                <br>
            </div>
            <div>
                <p>Note: Throughput heatmap can show the throughput ratio between the best performing learned index and the best performing tradtional index.</p>
                <p>The three axes in the map represent the local/global hardness of a dataset and the write ratio respectively.</p>
                <p>The balls in the heatmap represent the best performed index inside certain datasets at particular wirte ratio. A <z style="color:red">red</z>/<z style="color:yellow;">yellow</z> ratio means a traditional index is the winner, a <z style="color:blue">blue</z> one means a learned index is the winner. The darker a ball is, the more advantage this index takes.</p>
                <p>Holding left-click to rotate view, Holding right-click to translate, Use mouse whell to zoom in/out.</p>
                <button onclick="generateHeatMap()" style="color:black;">Reflesh HeatMap</button>
                <br>
                <h2></h2>
                <div style="width:90%;position: center;text-align: center;float:left">
                    <p style="float:left;width: 45%;background: linear-gradient(90deg, rgba(255,0,2,1) 0%, rgba(255,212,0,1) 100%);">Tradition</p><p style="float:left; width: 45%;background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,255,1) 100%);">Learned</p></div>
                <div id="tt" style="width:80%; border: thin solid bisque"></div>
            </div>
            
        </div>
    </div>
    <!-- <script src="../js/three.min.js"></script>
    <script src="../js/datapresent.js"></script> -->
</section>