<section id="heatmap" class="content-section text-center" style="text-align: left; line-height: normal;">
    <div class="container">
        <h2 style="text-align: center;">Heat Map</h2>
        <div class="row">
            <div class = 'dataset'>
                <h4>Choose Dataset to be display in Heatmap</h4>
                <form id="datasetlt" style="display:inline-flex;"></form>
                <br>
                <button onclick="generateHeat()" style="color:black;">Generate HeatMap</button>
            </div>
            <div class = 'dataset'><p>mark</p></div>
        </div>
    </div>
</section>