<section id="heatmap" class="content-section text-center" style="text-align: left; line-height: normal;">
    <div class="container">
        <h2 style="text-align: center;">Heat Map</h2>
        <div class="row">
            <div style="display:inline ; width:25%">
                <form id="datasetlt" style="line-height: 40px; background-color:blanchedalmond"></form>
                <br>
                <button onclick="generateHeat()" style="color:black;">Generate HeatMap</button>
            </div>
            <div id="tt" style="display: inline; width:60%"><p>mark</p></div>
        </div>
    </div>
</section>